<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.track.home.title">Tracks</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-track" [routerLink]="['/track/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.track.home.createLabel">
            Create a new Track
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="tracks?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.track.home.notFound">No tracks found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="tracks?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="jhipsterSampleApplicationApp.track.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rating"><span jhiTranslate="jhipsterSampleApplicationApp.track.rating">Rating</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="url"><span jhiTranslate="jhipsterSampleApplicationApp.track.url">Url</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="popularity"><span jhiTranslate="jhipsterSampleApplicationApp.track.popularity">Popularity</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="thumbnail"><span jhiTranslate="jhipsterSampleApplicationApp.track.thumbnail">Thumbnail</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="createdAt"><span jhiTranslate="jhipsterSampleApplicationApp.track.createdAt">Created At</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="released"><span jhiTranslate="jhipsterSampleApplicationApp.track.released">Released</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duration"><span jhiTranslate="jhipsterSampleApplicationApp.track.duration">Duration</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="color"><span jhiTranslate="jhipsterSampleApplicationApp.track.color">Color</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let track of tracks ;trackBy: trackId">
                    <td><a [routerLink]="['/track', track.id, 'view']">{{ track.id }}</a></td>
                    <td>{{ track.name }}</td>
                    <td>{{ track.rating }}</td>
                    <td>{{ track.url }}</td>
                    <td>{{ track.popularity }}</td>
                    <td>{{ track.thumbnail }}</td>
                    <td>{{ track.createdAt | date:'medium' }}</td>
                    <td>{{ track.released | date:'medium' }}</td>
                    <td>{{ track.duration }}</td>
                    <td>{{ track.color }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/track', track.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/track', track.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(track)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
